<div class="jumbotron">
    <div id="bienvenida">
        <img src="../../../assets/TiroDeEsquina.jpg">
        <h1 class="display-4">Bienvenido a Futbol Siete</h1>
        <h4 class="lead">Reserva ya tu cancha de preferencia para jugar con tus amigos</h4>
    </div>
</div>
<h4> Aquí podrás tener a disposición los siguentes servicios:</h4>
<br>
<div class="card-deck">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Cliente</div>
        <div class="card-body">
            <h5 class="card-title">Crear las credenciales</h5>
            <p class="card-text">Se puede crear un usuario con sus datos personales, para poder realizar una reserva de la cancha.
            </p>
        </div>

    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Cliente</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Eliminar las credenciales</h5>
            <p class="card-text">Si el cliente desea no pertenecer más a la tienda, se podrá eliminar su usuario cuando deseé.</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Cancha</div>
        <div class="card-body">
            <h5 class="card-title">Agregar cancha</h5>
            <p class="card-text">Se puede crear una cancha nueva para estar a disposición de ser reservada inmediatamente, siempre y cuando cumpla las reglas de negocio.</p>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Cancha</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Reglas de negocio</h5>
            <p class="card-text">No se puede crear una reserva los lunes, se hace mantenimiento este día, se hacen descuento dependiendo la fecha que reserves.</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Reserva</div>
        <div class="card-body">
            <h5 class="card-title">Reservar una cancha</h5>
            <p class="card-text">Podrás reservar cualquier cancha, a la hora que desees, siempre y cuando tengas un usuario creado y exista la disponibilidad.</p>
        </div>
    </div>
</div>